parameters:
	level: 5
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
	ignoreErrors:
		- '#PHPDoc tag @#'
		- '#Unsafe usage of new static()#'
		- '#Cannot call method get() on array|League#'
		- '#Call to an undefined method Chukdo\\Contracts\\Db\\Stage#'
		- '#Strict comparison using === between string and null will always evaluate to false#'
		- '#Unreachable statement - code above always terminates#'
		- '#expects resource, resource given#'
		- '#will always evaluate to#'
		- '#readPreference of class MongoDB\\Driver\\ReadPreference constructor expects string, int given#'
		- '#Chukdo\\Contracts\\Db\\Collection given#'